@use 'variables' as v;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  min-width: v.$mobile-min-width;
  min-height: 100vh;
}

button,
input {
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}
