@use '../../styles/variables' as v;

.location-fields {
  display: grid;
  align-items: start;
  gap: 20px;

  @media (min-width: v.$tablet-min-width) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
