@use '../../styles/variables' as v;

.validation {
  display: flex;
  align-items: center;
  gap: 5px;
  color: v.$color-error;
  font-size: 13px;
  font-weight: 600;

  &__icon {
    display: inline-grid;
    width: 16px;
    height: 16px;
    flex: 0 0 auto;
    place-items: center;
    border: 1px solid currentColor;
    border-radius: 50%;
    font-size: 10px;
  }
}
